In [1]:
import os
import numpy
import pandas
import findspark
from sklearn import datasets

In [2]:
findspark.init(os.environ["SPARK_HOME"])

In [3]:
import pyspark

In [4]:
conf = (pyspark.SparkConf()
         .setMaster("local")
         .set("spark.driver.memory", "1g")
         .set("spark.executor.memory", "1g"))
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)

In [5]:
iris = datasets.load_iris()
X = iris.data[:, :4]
y = iris.target
features = iris.feature_names

In [6]:
df = pandas.DataFrame(data=numpy.column_stack((X, y)), columns=features + ["species"])

In [7]:
spark_data = spark.createDataFrame(df)

In [8]:
spark_data

DataFrame[sepal length (cm): double, sepal width (cm): double, petal length (cm): double, petal width (cm): double, species: double]

In [9]:
spark_data.take(5)

[Row(sepal length (cm)=5.1, sepal width (cm)=3.5, petal length (cm)=1.4, petal width (cm)=0.2, species=0.0),
 Row(sepal length (cm)=4.9, sepal width (cm)=3.0, petal length (cm)=1.4, petal width (cm)=0.2, species=0.0),
 Row(sepal length (cm)=4.7, sepal width (cm)=3.2, petal length (cm)=1.3, petal width (cm)=0.2, species=0.0),
 Row(sepal length (cm)=4.6, sepal width (cm)=3.1, petal length (cm)=1.5, petal width (cm)=0.2, species=0.0),
 Row(sepal length (cm)=5.0, sepal width (cm)=3.6, petal length (cm)=1.4, petal width (cm)=0.2, species=0.0)]

In [12]:
spark_data.toPandas().head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [13]:
spark.stop()

In [14]:
sc.stop()