In [13]:
import os
import sys
import pandas
import numpy

import findspark
findspark.init("/usr/local/spark/spark")

import pyspark

from pyspark.ml.feature import PCA
from pyspark.ml.linalg import Vector, Vectors
from pyspark.ml.feature import StandardScaler
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
import pyspark.sql.functions as F
import pyspark.sql.functions as func

In [5]:
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [6]:
file_name = "/Users/simondi/PROJECTS/target_infect_x_project/results/2-analysis/2-clustering/test/kmeans_transform-cells_sample_10_normalized_cut_100_factors_K005/"

In [7]:
conf = pyspark.SparkConf().setMaster("local[*]").set("spark.driver.memory", "4G").set("spark.executor.memory", "4G")
sc = pyspark.SparkContext(conf=conf)
spark = pyspark.sql.SparkSession(sc)

In [8]:
data = spark.read.parquet(file_name)

In [9]:
data.take(1)

[Row(study='infectx_published', pathogen='listeria', library='a', design='u', replicate='1', plate='kb2-02-1x', well='a01', gene='chka', sirna='s3008', well_type='sirna', image_idx='4', object_idx='144', prediction=4, features=DenseVector([0.7496, -0.4258, 1.5657, -0.3073, 0.3223, 0.5355, -1.9055, 0.1969, 1.099, -0.0041]))]

In [18]:
filt_dat = data.groupby(["gene", "prediction"]).count()
a = filt_dat.select(["gene", "prediction", "count"]).dropDuplicates().toPandas()

In [64]:
a.to_csv("/Users/simondi/Desktop/pups.ts")

In [19]:
filt_dat = data.groupby(["sirna", "prediction"]).count()
a = filt_dat.select(["sirna", "prediction", "count"]).dropDuplicates().toPandas()

In [20]:
filt_dat = data.groupby(["pathogen", "prediction"]).count()
a = filt_dat.select(["pathogen", "prediction", "count"]).dropDuplicates().toPandas()

      sirna  prediction  count
0     s3095           0      3
1     s3008           4      1
2     s6088           2      4
3   s223236           3      1
4     s3095           4      1
5   s223236           0      3
6     s6237           2      1
7     s6094           1      3
8   s223236           4      5
9     s3095           3      5
10    s3098           0      6
11    s3077           0      3
12    s6237           0      3
13    s6240           2      2
14    s6091           4      3
15    s6094           3      1
16    s6240           3      3
17    s6088           0      4
18    s6240           0      3
19    s3008           1      1
20    s6088           1      2
21  s223236           2      1
22    s6094           0      6
23    s6237           4      4
24    s6091           3      3
25    s6237           3      2
26    s3098           4      2
27    s6091           0      1
28    s3095           2      1
29    s3077           2      2
30    s3098           2      2
31    s6091           2      3
32    s3008           2      5
33    s6240           4      2
34    s3077           4      5
35    s3008           0      3

In [ ]:
for i in range(5):
    pred = "prediction={}".format(i)
    data_i = data_t.filter(pred)
    data_i.toPandas().to_csv("~/Desktop/bla_{}.tsv".format(i), sep="\t", index=0)